* {
	margin: 0;
	padding: 0;
}
body {
	box-sizing: border-box;
	margin: 3rem;
}
#cover {
	height: 50vh;
	width: 60vh;
	margin: 0 auto;
	padding: 2rem;
}
#holder {
	height: 20rem;
	display: flex;
}
.login {
	flex: 1;
	margin: 20px 0px 0px 5px;
}
.signup {
	flex: 1;
	margin: 20px auto 0px;
}
.btn {
	padding: 10px;
	border-radius: 3px;
}
.btn-login {
	color: #fff;
	background: rgba(0, 193, 79, 0.75);
	border: none;
}
.btn-signup {
	background: rgba(22, 147, 245, .75);
	border: none;
	color: #fff;
}
.btn-login:hover,
.btn-signup:hover {
	cursor: pointer;
}
.form-group {
  margin-bottom: 1rem;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-top {
	background: rgba(60, 85, 93, .75);
	padding: 3rem;
	text-align: center;
	color: #fff;
	border-radius: .5rem;
	width: 60%;
}
#sign-form {
	width: 65%;
	padding: 2rem;
	border: 1px solid #ccc;
	border-radius: .5rem;
}